version: '3'
services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - POSTGRES_DB=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    restart: always             # run as a service
  odoo12:
    image: odoo:12.0
    depends_on:
      - db
    ports:
      - "8069:8069"
    tty: true
    command: -- --dev=reload
    command: odoo -u all
#    command: odoo scaffold /mnt/extra-addons/test_module
    volumes:
      - ~/Documents/extra-addons:/mnt/extra-addons     
#     - ./etc:/etc/odoo
      - odoo-web-data:/var/lib/odoo
    restart: always             # run as a service
volumes:
  odoo-web-data:
  odoo-db-data:
